:root {
    --text-color:#434455;
    --subtext-color:#8E8F99;
    --hero-background:#2E2F42;
    --brand-color:#4D5AE5;
    --background-color:#FFFFFF;
    --light-background:#F4F4FD;
    --navy-blue:#2E2F42;
    --button-hover:#404BBF;
    --white: #FFFFFF;
    --cornflower: #E7E9FC;
    --slate: #434455;
    --ocean: #31D0AA;
    --light-slate: #8E8F99;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --dairy: #FCFCFC;
    }
@media screen and (min-width: 480px) {
    .container {
        width: 426px;
    }
    .footer-input-email {
    width: 398px;
}
}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
    .nav-menu {
    display: flex;
    gap: 40px;
}
.container-header {
    padding-top: 16px;
    padding-bottom: 16px;
    align-items: center;
}
.nav-contacts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.nav-logo {
    align-items: center;
}
.nav-menu {
    align-items: center;
}
.logo {
    margin-right: 120px;
}
.menu-open, 
.mob-menu {
display: none;
}
.nav-item {
    position: relative;
}
.nav-item::after {
    content: '';
    display: flex;
    width: 100%;
height: 4px;
background: #404BBF;
border-radius: 2px;
position: absolute;
top: 50px;
}
.navigation-link {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--navy-blue);
transition: color var(--transition);
}
.contacts {
    font-style: normal;
}
.mail-tel {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--text-color);
transition: color var(--transition);
}
.hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-tab.jpg);
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-tab-2x.jpg);
  }
}
    .hero-header {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
    .advantages-item {
        width: calc((100% - 24px) / 2)
    }
    .container-advantages > .flex-list {
        gap: 72px 24px;
    }
    .advantages-title {
        text-align: start;
    }
    .team > .container {
        max-width: 582px;
    }
    .container-team > .flex-list {
    gap: 72px 24px;
    }
    .team-member {
        flex-basis: calc((100% - 24px) / 2);
    }
    .clients > .container {
        max-width: 582px;
    }
    .clients-list {
        gap: 72px 24px;
    }
    .clients-item {
        width: calc((100% - 48px) / 3)
    }
    .footer-input-email {
    width: 264px;
}
.footer > .container {
    max-width: 582px;
}
.container-footer {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: start;
    gap: 72px 24px;
}
.footer-input {
    text-align: start;
}
    .container-buttons {
        justify-content: center;
    }
    .portfolio-list {
        gap: 72px 24px;
    }
    .portfolio-item {
        flex-basis: calc((100% - 24px) / 2);
    }
    .modal {
        max-width: 408px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
    }
    .container-header {
        padding-top: 24px;
        padding-bottom: 24px;
        align-items: center;
    }
    .nav-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.logo {
    margin-right: 76px;
}
.nav-item::after {
    top: 45px;
}
.mail-tel {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-decoration: none;
color: var(--text-color);
transition: color var(--transition);
}
.hero {
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-pc.jpg);
    }
    @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-pc-2x.jpg);
  }
}
    .hero-header {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;
    }
    .advantages-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--light-background);
    margin-bottom: 8px;
    }
    .section {
        padding: 120px 0;
    }
    .advantages-item {
    flex-basis: calc((100% - 72px) / 4);
    }
    .advantages-title {
        font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
    }
    .text-style {
        font-weight: 400;
        font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate);
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 120px;
    }
    .products-title {
    margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
}
.product-image {
    flex-basis: calc((100% - 48px) / 3);
}
.team > .container {
        max-width: 1158px;
}
.container-team > .flex-list {
    gap: 24px;
}
.team-member {
        flex-basis: calc((100% - 72px) / 4);
        margin-bottom: 0;
    }
    .clients-item {
    width: calc((100% - 120px) / 6);
    margin-bottom: 0;
}
.clients-list {
    gap: 24px;
}
.clients > .container {
    max-width: 1158px;
}
.footer-soc-item {
background-color: rgb(255,255,255,0.1);
}
.footer > .container {
    max-width: 1158px;
}
.container-footer {
    justify-content: space-between;
}
.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}
.container-buttons {
    margin-bottom: 72px;
}
.portfolio-section {
    padding-top: 100px;
    padding-bottom: 120px;
}
.portfolio-list {
        gap: 48px 24px;
    }
.modal {
        max-width: 408px;
    }
}