:root {
    --text-color:#434455;
    --subtext-color:#8E8F99;
    --hero-background:#2E2F42;
    --brand-color:#4D5AE5;
    --background-color:#FFFFFF;
    --light-background:#F4F4FD;
    --navy-blue:#2E2F42;
    --button-hover:#404BBF;
    --white: #FFFFFF;
    --cornflower: #E7E9FC;
    --slate: #434455;
    --ocean: #31D0AA;
    --light-slate: #8E8F99;
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --dairy: #FCFCFC;
    }
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.flex-list {
    display: flex;
    flex-wrap: wrap;
}
.link {
    text-decoration: none;
    transition: color var(--transition);
}
.list {
    list-style: none;
}
/*header*/
.logo {
    font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color: var(--brand-color);
transition: color var(--transition);
}
.logo:is(:hover, :focus) {
    color: var(--button-hover);
}
.logo-color-header {
color: var(--navy-blue);
}
.header {
    border-bottom: 1px solid var(--cornflower);
}
.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-logo {
    display: flex;
}
.nav-menu,
.nav-contacts {
    display: none;
}
.navigation-link:hover,
.navigation-link:focus,
.mail-tel:hover,
.mail-tel:focus {
color: var(--button-hover);
}

.menu-open {
    background-color: transparent;
    border: none;
}
.menu-icon {
    stroke: var(--navy-blue);
}
.mob-menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: var(--white);
    padding: 24px 24px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(0);
    transition: transform var(--transition);
}
.mob-menu.is-hidden {
    transform: translateX(100%);
    transition: transform var(--transition);
}
.menu-close {
    width: 24px;
    height: 24px;
    display: flex;
justify-content: center;
align-items: center;
background: rgba(231,233,252, 0.1);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
margin-left: auto;
margin-bottom: 32px;
}
.menu-link {
    text-decoration: none;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--navy-blue);
}

.menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.menu-tel {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--brand-color);
}
.menu-tel-item {
    margin-bottom: 40px;
}
.menu-mail {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--slate);
}
.menu-mail-item {
    margin-bottom: 48px;
}
.menu-soc-list {
    display: flex;
    flex-wrap: wrap;
    gap: 56px;
}
.menu-soc-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--brand-color);
    }
.menu-soc-link {
width: 40px;
height: 40px;
display: flex;
    align-items: center;
    justify-content: center;
}
/*hero*/
.hero {
    background-color: var(--hero-background);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-bcg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
padding: 112px 0;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero-bcg-mob-2x.jpg);
  }
}
.hero-header {
max-width: 320px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: var(--white);
margin: 0 auto 72px;
}
.order-button {
    font-family: 'Roboto', sans-serif;
display: block;
margin: 0 auto;
min-width: 169px;
padding: 16px 32px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--white);
background-color: var(--brand-color);
border: none;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--white);
cursor: pointer;
transition: background-color var(--transition);
}
.order-button:is(:hover, :focus) {
    background-color: var(--button-hover);
}
/*advantages*/
.advantages {
    padding: 96px 0;
}
.advantages-item {
    width: 100%;
}
.advantages-icon {
    display: none;
}
.advantages-icon svg {
    width: 64px;
    height: 64px;
}
.container-advantages > .flex-list {
    gap: 72px;
}
.advantages-title {
    margin-bottom: 8px;
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: var(--navy-blue);
text-align: center;
}
.text-style {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
/*products*/
.products {
    display: none;
}
.team-title, .clients-title {
    margin-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--navy-blue);
}

/*team*/
.team {
    background-color: var(--light-background);
    padding: 96px 0;
}
.team > .container {
        max-width: 294px;
    }
.container-team > .flex-list {
    gap: 72px;
}
.team-member {
    line-height: 1.11;
    width: 100%;
    padding-bottom: 32px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
background-color: var(--background-color);
text-align: center;
align-items: center;
}
.team-name {
margin-top: 32px;
margin-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
}
.team-soc-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
    padding: 0 16px;
}
.team-soc-link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--transition);
}
.team-soc-link:is(:hover, :focus) {
    background-color: var(--button-hover);
}
.team-soc-icon {
width: 16px;
height: 16px;
}
/*clients*/
.clients {
    padding: 96px 0;
}
.clients-list {
    justify-content: center;
    flex-wrap: wrap;
    gap: 72px 16px;
}
.clients-link {
    display: inline-block;
    height: 88px;
    padding: 16px 32px;
    border: 1px solid var(--light-slate);
border-radius: 4px;
color: var(--light-slate);
transition: border var(--transition), color var(--transition);
}
.clients-link:is(:hover, :focus) {
    border: 1px solid var(--button-hover);
    color: var(--button-hover);
}
.clients-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}
/*footer*/
.footer {
    background-color: var(--navy-blue);
padding: 100px 0;
}
.logo-color-footer {
    color: var(--light-background);
}
.footer-text {
    max-width: 264px;
    margin-top: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cornflower);
}
.container-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 72px;
}
.footer-head {
    font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--white);
margin-bottom: 16px;
}
.footer-soc > .flex-list {
    gap: 16px;
}
.footer-soc-item {
background-color: var(--brand-color);
border-radius: 50%;
width: 40px;
height: 40px;
transition: background-color var(--transition);
}
.footer-soc-item:is(:hover, :focus) {
    background-color: var(--ocean);
}
.footer-soc-link {
    width: 100%;
    height: 100%;
        display: flex;
    justify-content: center;
    align-items: center;
}
.footer-soc-icon {
    width: 24px;
    height: 24px;
}
.footer-input-email {
    width: 100%;
height: 40px;
background-color: transparent;
border: 1px solid var(--white);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
outline: transparent;
padding: 8px 16px;
color: var(--white);

}
.footer-input-email::placeholder {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
    color: var(--white);
}
.footer-input-email:focus {
    border-color: var(--brand-color);
    transition: border-color var(--transition);
}
.footer-submit-button {
    display: flex;
    gap: 16px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
min-width: 165px;
height: 40px;
border-radius: 4px;
background-color: var(--brand-color);
border: none;
padding: 8px 24px;
color: var(--white);
align-items: center;
cursor: pointer;
transition: background-color var(--transition);
}
.footer-submit-button:is(:hover, :focus) {
    background-color: var(--button-hover);
}
.footer-input {
    text-align: center;
}
.footer-input-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.plane-icon {
    width: 24px;
    height: 24px;
    fill: var(--white);
}
/*portfolio*/
.portfolio-buttons {
    padding: 12px 24px;
    font-family: 'Roboto', sans-serif;
font-weight: 500;
line-height: 1.5;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--brand-color);
background: var(--light-background);
border: 1px solid var(--cornflower);
border-radius: 4px;
cursor: pointer;
transition: background-color var(--transition), color var(--transition), box-shadow var(--transition), border-color var(--transition);
}
.portfolio-buttons:is(:hover, :focus) {
background-color: var(--button-hover);
color: var(--white);
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-color: transparent;
}
.portfolio-link {
    text-decoration: none;
}
.portfolio-item {
background: var(--white);
width: 100%;
transition: box-shadow var(--transition);
position: relative;
}
.portfolio-item:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.portfolio-title {
    margin-bottom: 8px;
    text-decoration: none;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--navy-blue);
}
.portfolio-title-description {
    text-decoration: none;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}
.portfolio-top-wrap {
    position: relative;
    overflow: hidden;
}
.portfolio-description {
    position: absolute;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: var(--light-background);
    background-color: var(--brand-color);
    transform: translateY(100%);
    transition: transform var(--transition);
}
.portfolio-item:is(:hover, :focus) .portfolio-description {
    transform: translateY(0%);
}
.product-description {
    border: 1px solid var(--cornflower);
    border-top: none;
    padding: 32px 16px;
}
.portfolio-description-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--light-background);
}
.container-buttons {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 16px 24px;
    margin-bottom: 48px;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
}
.portfolio-section {
    padding-top: 48px;
    padding-bottom: 48px;
}
.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
    transition: opacity var(--transition), visibility var(--transition);
}
.modal {
    width: 100%;
    max-width: 392px;
height: 576px;
background: var(--dairy);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);
transition: transform var(--transition);
padding: 24px;
overflow: auto;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}
.modal-close {
    width: 24px;
height: 24px;
display: flex;
justify-content: center;
align-items: center;
background: var(--cornflower);
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 50%;
margin-left: auto;
margin-bottom: 24px;
cursor: pointer;
transition: background-color var(--transition), border var(--transition), fill var(--transition);
}
.modal-close:is(:hover, :focus) {
    background-color: var(--button-hover);
    border: transparent;
    fill: var(--white);
}
.close-icon {
    width: 8px;
    height: 8px;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal-head {
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.modal-input {
    width: 100%;
    height: 40px;
border: 1px solid rgba(46, 47, 66, 0.2);
border-radius: 4px;
padding-left: 38px;
background-color: transparent;
outline: transparent;
transition: border-color var(--transition);
}
.modal-input:focus {
border-color: var(--brand-color);
}
.modal-input:focus + .modal-icon {
    fill: var(--brand-color);
}
.modal-input-label {
    display: inline-block;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate);
margin-bottom: 4px;
}
.modal-field {
    margin-bottom: 8px;
}
.modal-input-wrap {
    position: relative;

}
.modal-icon {
    width: 18px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill var(--transition);
}
.modal-textarea::placeholder {
    font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}
.modal-textarea {
    width: 100%;
    height: 120px;
border: 1px solid rgba(46, 47, 66, 0.2);
border-radius: 4px;
background-color: transparent;
resize: none;
outline: transparent;
transition: border-color var(--transition);
padding: 8px 16px;
margin-bottom: 16px;
}
.modal-textarea:focus {
border-color: var(--brand-color);
}
.modal-agreement {
    margin-bottom: 24px;
}
.agreement-label {
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: var(--light-slate);
display: flex;
gap: 8px;
align-items: center;
}
.agreement-label span {
    width: 16px;
    height: 16px;
    border: 1px solid var(--navy-blue);
border-radius: 2px;
display: flex;
align-items: center;
justify-content: center;
fill: transparent;
cursor: pointer;
transition: background-color var(--transition), border var(--transition), fill var(--transition);
}
.agreement-checkbox:checked + .agreement-label span {
background-color: var(--button-hover);
border: transparent;
fill: var(--white);
}

.user-agreement-link {
color: var(--brand-color);
margin-left: -4px;
}
.modal-submit {
    display: block;
    background: var(--brand-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: var(--white);
border: none;
outline: none;
min-width: 169px;
padding: 16px 32px;
margin: 0 auto;
cursor: pointer;
transition: background-color var(--transition);
}
.modal-submit:is(:hover, :focus) {
    background-color: var(--button-hover);
}